@import "../../styles/shared.scss";

.dropdown-menu {
    position: absolute;
    color: white;
    background-color: rgba(0, 0, 0, 0.9);;
    font-size: 0.75rem;
    top: 40px;
    padding: 5px;
    font-weight: 500;
    z-index: 50; /* Adjust as needed */
    /* Other styles */
    text-decoration: none;
  }

.dropdown-button{
  padding: 10px;
  
  color: inherit; /* Inherit the color from the parent */
 text-decoration: none;; /* Remove underline */
  cursor: pointer; /* Change cursor to pointer on hover */
}

.dropdown-button:hover {
  background-color: $hover-color;
  animation: hover-animation;
  animation-duration: 0.2s;
}

.dropdown-button:active {
  background-color: $active-color;
}

@keyframes hover-animation{
  0% {background-color: $primary-color;}
  100% {background-color: $hover-color;}
}