@import "../../styles/shared.scss";

.content-button{
    color: white !important;
    background-color: $primary-color;
    text-align: center;
    padding: 10px;
    font-size: 1.4rem;
    text-decoration: none;
}

.content-button:hover{
    background-color: $secondary-color;
    animation-name: content-hover-animation;
    animation-duration: 0.2s;
}

.content-button:active{
    background-color: $active-secondary-color;
}

@keyframes content-hover-animation{
    0% {background-color: $primary-color;}
    100% {background-color: $secondary-color;}
}