@import "../components/supports/Grid/Grid.scss";

$primary-color: rgb(0, 0, 0);
$secondary-color: rgb(0, 52, 0);
$active-secondary-color: rgb(0, 67, 0);
$hover-color: rgb(28, 0, 37);
$active-color: rgb(40, 13, 40);
$text-color: white;

/*identifiers*/

#contents{
    background-color: $primary-color;
    color: $text-color;
}

/*classes*/

.transparent-background{
    width: 100% !important;
    background-color: rgba(0, 0, 0, 0.616);
}

.article-center{
    text-align: center;
}

.showroom-title{
    font-size: 2rem;
}

.gallery{
    background-image: url("../../public/images/showroom-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    .grid-item{
        margin-top: 70px;
    }

    .image-button{
        filter: grayscale(100%);
   
    }
    
    .image-button:hover{
        filter: grayscale(0%);
        animation: gallery-image-hover;
        animation-duration: 0.2s;
    }

    @keyframes gallery-image-hover{
        0% {filter: grayscale(100%);}
        100% {filter: grayscale(0%);}
    }
}

.big-title-text{
    font-size: 2.5rem;
}

.giant-title-text{
    font-size: 4rem;
}

.eosl-clarification{
    padding: 90px;
}

/*elements*/

body {
    background-color: $primary-color;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

img {
    border-radius: 2%;
  }
a{
    color: inherit !important;
    text-decoration: none !important;
  }

ver{
    align-items: center;
    display: block;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center !important;
    font-size: 0.9rem;
    color: rgb(255, 255, 255);
}

eosl{
    align-items: center;
    display: block;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center !important;
    font-size: 0.9rem;
    color: orange;
}

disclaimer{
    font-size: 0.75rem;
    color: grey;
}

/*navigation sidebar*/

html::-webkit-scrollbar {
    width: 7px;
    height: 5px;
}

html::-webkit-scrollbar-thumb {
    background: #ffff;
    border-radius: 2px;
}

html::-webkit-scrollbar-thumb:hover {
    background: rgb(247, 232, 253)
   
}
html::-webkit-scrollbar-thumb:active {
    background: rgb(205, 255, 204)
   
}

html::-webkit-scrollbar-track {
    background: #000000;
}